<h1>BillOn</h1>
{% if user.is_authenticated %}
    {% if recipts %}
            {% for recipt in recipts %}
                이름 : {{recipt.reciptName}} 
                {% if recipt.price == '0' %}
                    <a href="{%url 'submit' recipt.id %}"><button>영수증 사진 등록</button></a> <br>
                {% else %}
                    <br>
                    날짜 : {{recipt.date|date:"Y년 n월 d일"}} <br>
                    금액 : {{recipt.price}} <br><br>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>아직 등록된 영수증이 없습니다!</p>
        {% endif %}
        <br>
    <a href="{%url 'registrecipt' %}"><button>영수증 추가</button></a> <br><br>
    <a href="{% url 'logout' %}"><button>로그아웃</button></a>
{% else %}
    <a href="{% url 'login' %}"><button>로그인</button></a>
    <a href="{% url 'signup' %}"><button>회원가입</button></a>
{% endif %}